* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
body {
  background-color: #000;
  color: #fff;
}
#header {
  margin-top: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 40px;
  color: #fff;
}

.search {
  display: flex;
}

.searchInput {
  width: 0px;
  border: 0;
  opacity: 1;
  border-radius: 20px 20px 20px 20px;
  padding-left: 10px;
  background-color: #0d6efd;
  box-sizing: border-box;
  opacity: 0;
  transition: width 0.1s;
}
input::placeholder {
  color: #fff;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus {
  outline: none;
}
.searchIcon {
  background-color: #0d6efd;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  /* transition: 0.1s; */
}
.search2Icon {
  background-color: #0d6efd;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-left: -30px;
  display: none;
}
.searchInput.active {
  width: 100px;
  opacity: 1;
}
.searchIcon.active {
  display: none;
}
.search2Icon.active {
  display: block;
  border-radius: 0px 50% 50% 0px;
}
/*menus*/
#menus {
  display: flex;
  justify-content: center;
}
#menus button:hover {
  background: #0d6efd;
  color: #fff;
}
#menus button {
  border: none;
  background-color: #fff;

  width: 130px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  margin: 30px;
}

/*genre-menus*/
.menu-line {
  margin: 10px;
}

#genre-menus {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px auto;
}
#genre_menus button {
  border: none;
  background-color: #fff;
  border-radius: 20px;
  color: black;
  margin: 1px;
  padding: 10px;
  font-size: smaller;
  display: inline-block;
}
#genre_menus button:hover {
  background: #0d6efd;
  color: #fff;
}

/*movie-board*/
.row {
  display: flex;
  justify-content: space-between;
}
.movieCard {
  border: 2px solid #fff;
  border-radius: 10px;
  padding-bottom: 10px;
}

/* movieCard 태그 안의 img 속성 값 추가 */
.movieCard img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
  transition-property: opacity;
  transition-duration: 1s;
}

/* movieCard 태그 안의 img를 감싸는 div 태그 추가 class명 cardImageArea Overview 태그의 position 속성 값을 지정하고 활용하기 위함 */
.cardImageArea {
  position: relative;
}

/* overview 태그 추가 */
.overview {
  position: absolute;
  font-size: x-small;
  top: 10%;
  left: 0%;
  text-align: justify;
  z-index: 2;
  margin: 0.5rem;
  padding: 0.5rem 3.2rem;
  z-index: 1;
}

/* movieCard img에 hover 이벤트 태그 추가 및 속성 값 부여 */
.movieCard img:hover {
  z-index: 0;
  opacity: 20%;
}

.title {
  margin: 20px 0px;
}
.showing {
  display: flex;
  justify-content: space-between;
}
.grade {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
  font-size: 10px;
}
.genre {
  border-radius: 20px;
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 5px 10px;
}
.date {
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.page-link {
  color: black;
  border: none;
}

.active2 {
  background-color: white;
  color: orange;
  font-weight: 600;
}

.header-img{
  cursor: pointer;
}



/* overview의 속성 값을 screen 크기에 맞춰 세팅하는 media query 코드 추가 */
/* screen 크기가 400px 이하로 내려가면, overview 내용을 보여주지 않음 */
@media only screen and (min-width: 460px) and (max-width: 575px) {
  .overview {
    position: absolute;
    font-size: x-small;
    top: 2.5%;
    left: 0%;
    text-align: justify;
    z-index: 2;
    margin: 0.5rem;
    padding: 0.5rem 9.5rem;
    z-index: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .overview {
    position: absolute;
    font-size: x-small;
    top: 10%;
    left: 0%;
    text-align: justify;
    z-index: 2;
    margin: 0.5rem;
    padding: 0rem 2rem;
    z-index: 1;
  }
}

@media only screen and (min-width: 400px) and (max-width: 459px) {
  .overview {
    position: absolute;
    font-size: x-small;
    top: 5%;
    left: 0%;
    text-align: justify;
    z-index: 2;
    margin: 0.5rem;
    padding: 0.5rem 7.5rem;
    z-index: 1;
  }
}

@media only screen and (max-width: 399px) {
  .overview {
    display: none;
  }
}