* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
body {
  background-color: #000;
  color: #fff;
}
#header {
  margin-top: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 40px;
  color: #fff;
}

.search {
  display: flex;
  /* background-color: #0d6efd;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%; */
}

.searchInput {
  width: 0px;
  border: 0;
  opacity: 1;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
  background-color: #0d6efd;
  box-sizing: border-box;
  opacity: 0;
  transition: width 0.1s;
}
input::placeholder {
  color: #fff;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus {
  outline: none;
}
.searchIcon {
  background-color: #0d6efd;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  /* transition: 0.1s; */
}

.searchInput.active {
  width: 100px;
  opacity: 1;
}
.searchIcon.active {
  border-radius: 0px 50% 50% 0px;
}
